@font-face {
    font-family: 'clearsans';
    src: url('/static/fonts/clear-sans.bold.ttf') format('truetype');
}

@font-face {
    font-family: 'geist';
    src: url('/static/fonts/Geist-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
}

html{
    scroll-snap-type: y mandatory ;
}


body{
    background-color: rgb(0, 0, 0);
    font-family: clearsans;
}

section{
    height: 100vh;
    scroll-snap-align: start;
}


/* nav bars like : Project or Skills */

nav a{
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    margin: 2%;
    position: absolute;
    @media (max-width : 425px) {
       font-size: 1.2em; 
    }
}

.lang{
    margin-left: 93%;
    font-size: 1.4em;
    @media (max-width : 1670px) {
        margin-left: 91%;

    }
    @media (max-width : 1210px) {
        margin-left: 89%;

    }
    @media (max-width : 930px) {
        margin-left: 86%;
        font-size: 1.3em;

    }
    @media (max-width : 660px) {
        margin-left: 83%;


    }
    @media (max-width : 530px) {
        margin-left: 78%;


    }
    @media (max-width : 400px) {
        margin-left: 72%;


    }
    @media (max-width : 312px) {
        margin-left: 68%;
        font-size: 1.2em;


    }
    @media (max-width : 250px) {
        margin-left: 67%;
        font-size: 1em;


    }
}

/* Introduction to me */

.intro{
    color: white;
    font-size: 3em;
    font-family: geist;
    font-weight: bold;
    text-align: center;
    position: relative;
    top:20%;
    @media (max-width : 1000px) {
        font-size: 2em;
    }
    @media (max-width : 600px) {
       font-size: 1.5em; 
    }
    @media (max-width : 450px) {
       font-size: 1.3em; 
    }
}



/* about me */

.aboutme{
    color: white;
    font-size:1.5rem;
    position: relative;
    top:30%;
    padding: 2%;
    text-align: center;
    @media (max-width : 1000px) {
        font-size: 1.4em;
    }
    @media (max-width : 800px) {
       font-size: 1.1em; 
    }
    @media (max-width : 630px) {
       font-size: 1em; 
    }
    @media (max-width : 580px) {
       font-size: 1.3em;
       margin-left: 10%;
       margin-right:10%;
       top:30%;
       text-align: left;
    }
}

.linkedin{
    text-decoration: none;
    color: rgb(10, 102, 194);
}
.linkedin:hover{
    color: rgb(100, 155, 209);
}
/* icons section */






/* .gmail{
    color: white;
    font-size:1.2em;
    top:35%;
    left:25%;
    position: relative;
    @media (max-width : 1600px) {
        left:20%;
    }
    @media (max-width : 1400px) {
        left:15%;
    }
    @media (max-width : 1200px) {
        left:10%;
    }
    @media (max-width : 800px) {
        left:7%;
        font-size: 1em;
    }
    @media (max-width : 600px) {
        left:25%;
        font-size: 1.3em;
    }
    @media (max-width : 600px) {
        left:23%;
        font-size: 1.3em;
    }


} */



/* status bars of skill section 2  */
/* titles of bars */

.statusbars  .network{
    color: white;
    position: absolute;
    margin-top: 10%;
    left: 10%;;
    font-size: 1.5em;
    
    @media (max-width : 1500px) {
        margin-top: 9%;
        font-size:1.4em;
    }
    @media (max-width : 1400px) {
        margin-top: 7%
    }
    @media (max-width : 1200px) {
        margin-top: 11%;
        font-size:1.4em;
    }
    @media (max-width : 1050px) {
        margin-top: 15%
    }
    @media (max-width : 800px) {
        margin-top: 13%
    }
    @media (max-width : 600px) {
       margin-top: 36%
    }
    @media (max-width : 500px) {
       margin-top: 40%
    }
    @media (max-width : 400px) {
       margin-top: 30%
    }
}

.statusbars  .linux{
    color: white;
    position: absolute;
    margin-top: 17%;
    left: 10%;;
    font-size: 1.5em;
    @media (max-width : 1800px) {
        margin-top:  18%
    }
    @media (max-width : 1600px) {
        margin-top:  19%
    }
    @media (max-width : 1400px) {
        margin-top: 18%
    }
    @media (max-width : 1200px) {
        margin-top: 23%
    }
    @media (max-width : 1050px) {
        margin-top: 29%
    }
    @media (max-width : 900px) {
        margin-top: 31%
    }
    @media (max-width : 750px) {
        margin-top: 35%
    }
    @media (max-width : 600px) {
       margin-top: 56%
    }
    @media (max-width : 500px) {
       margin-top: 65%
    }
    @media (max-width : 400px) {
       margin-top: 60%
    }
}

.statusbars  .windows{
    color: white;
    position: absolute;
    margin-top: 24%;
    left: 10%;;
    font-size: 1.5em;
    @media (max-width : 1800px) {
        margin-top:  26%
    }
    @media (max-width : 1600px) {
        margin-top:  28%
    }
    @media (max-width : 1400px) {
        margin-top: 29%
    }
    @media (max-width : 1200px) {
        margin-top: 35%
    }
    @media (max-width : 1050px) {
        margin-top: 43%
    }
    @media (max-width : 900px) {
        margin-top: 47%
    }
    @media (max-width : 750px) {
        margin-top: 57%
    }
    @media (max-width : 600px) {
       margin-top: 76%
    }
    @media (max-width : 500px) {
       margin-top: 90%
    }
    @media (max-width : 400px) {
       margin-top: 90%
    }
}

.statusbars  .python{
    color: white;
    position: absolute;
    margin-top: 31%;
    left: 10%;;
    font-size: 1.5em;
    @media (max-width : 1800px) {
        margin-top:  34%
    }
    @media (max-width : 1600px) {
        margin-top:  37%
    }
    @media (max-width : 1400px) {
        margin-top: 40%
    }
    @media (max-width : 1200px) {
        margin-top: 47%
    }
    @media (max-width : 1050px) {
        margin-top: 57%
    }
    @media (max-width : 900px) {
        margin-top: 63%
    }
    @media (max-width : 750px) {
        margin-top: 79%
    }
    @media (max-width : 600px) {
       margin-top: 96%
    }
    @media (max-width : 500px) {
       margin-top: 115%
    }
    @media (max-width : 400px) {
       margin-top: 120%
    }
}

.statusbars  .cisco{
    color: white;
    position: absolute;
    margin-top: 38%;
    left: 10%;;
    font-size: 1.5em;
    @media (max-width : 1800px) {
        margin-top:  42%
    }
    @media (max-width : 1600px) {
        margin-top:  46%
    }
    @media (max-width : 1400px) {
        margin-top: 50%
    }
    @media (max-width : 1200px) {
        margin-top: 59%
    }
    @media (max-width : 1050px) {
        margin-top: 71%
    }
    @media (max-width : 900px) {
        margin-top: 80%
    }
    @media (max-width : 750px) {
        margin-top: 101%
    }
    @media (max-width : 600px) {
       margin-top: 116%
    }
    @media (max-width : 500px) {
       margin-top: 140%
    }
    @media (max-width : 400px) {
       margin-top: 150%
    }
}


/* actual status bar */

.statusbar-1{
    width: 80%;
    height: 20px;
    background-color: rgb(85, 85, 85);
    position:absolute;
    margin-top:13%;
    left:10%;
    border-radius: 20px;
    @media (max-width : 1400px) {
        margin-top: 11%
    }
    @media (max-width : 1200px) {
        margin-top: 16%
    }
    @media (max-width : 1050px) {
        margin-top: 20%
    }
    @media (max-width : 600px) {
       margin-top: 45%
    }
    @media (max-width : 500px) {
       margin-top: 50%
    }
    @media (max-width : 400px) {
       margin-top: 44%
    }
}

.statusbar-2{
    width: 80%;
    height: 20px;
    background-color: rgb(85, 85, 85);
    position:absolute;
    margin-top:20%;
    left:10%;
    border-radius: 20px;
    @media (max-width : 1800px) {
        margin-top:  21%
    }
    @media (max-width : 1600px) {
        margin-top:  22%
    }
    @media (max-width : 1400px) {
        margin-top: 22%
    }
    @media (max-width : 1200px) {
        margin-top: 28%
    }
    @media (max-width : 1050px) {
        margin-top: 34%
    }
    @media (max-width : 900px) {
        margin-top: 37%
    }
    @media (max-width : 750px) {
        margin-top: 42%
    }
    @media (max-width : 600px) {
       margin-top: 65%
    }
    @media (max-width : 500px) {
       margin-top: 75%
    }
    @media (max-width : 400px) {
       margin-top: 74%
    }
}

.statusbar-3{
    width: 80%;
    height: 20px;
    background-color: rgb(85, 85, 85);
    position:absolute;
    margin-top:27%;
    left:10%;
    border-radius: 20px;
    @media (max-width : 1800px) {
        margin-top:  29%
    }   
    @media (max-width : 1600px) {
        margin-top:  31%
    }
    @media (max-width : 1400px) {
        margin-top: 33%
    }
    @media (max-width : 1200px) {
        margin-top: 40%
    }
    @media (max-width : 1050px) {
        margin-top: 48%
    }
    @media (max-width : 900px) {
        margin-top: 54%
    }
    @media (max-width : 750px) {
        margin-top: 64%
    }
    @media (max-width : 600px) {
       margin-top: 85%;
    }
    @media (max-width : 500px) {
       margin-top: 100%
    }
    @media (max-width : 400px) {
       margin-top: 104%
    }
}


.statusbar-4{
    width: 80%;
    height: 20px;
    background-color: rgb(85, 85, 85);
    position:absolute;
    margin-top:34%;
    left:10%;
    border-radius: 20px;
    @media (max-width : 1800px) {
        margin-top:  37%
    }
    @media (max-width : 1600px) {
        margin-top:  40%
    }
    @media (max-width : 1400px) {
        margin-top: 44%
    }
    @media (max-width : 1200px) {
        margin-top: 52%
    }
    @media (max-width : 1050px) {
        margin-top: 62%
    }
    @media (max-width : 900px) {
        margin-top: 71%
    }
    @media (max-width : 750px) {
        margin-top: 86%
    }
    @media (max-width : 600px) {
       margin-top: 105%
    }
    @media (max-width : 500px) {
       margin-top: 125%
    }
    @media (max-width : 400px) {
       margin-top: 134%
    }
}

.statusbar-5{
    width: 80%;
    height: 20px;
    background-color: rgb(85, 85, 85);
    position:absolute;
    margin-top:41%;
    left:10%;
    border-radius: 20px;
    @media (max-width : 1800px) {
        margin-top:  45%
    }
    @media (max-width : 1600px) {
        margin-top:  49%
    }
    @media (max-width : 1400px) {
        margin-top: 54%
    }
    @media (max-width : 1200px) {
        margin-top: 64%
    }
    @media (max-width : 1050px) {
        margin-top: 76%
    }
    @media (max-width : 900px) {
        margin-top: 88%
    }
    @media (max-width : 750px) {
        margin-top: 108%
    }
    @media (max-width : 600px) {
       margin-top: 125%
    }
    @media (max-width : 500px) {
       margin-top: 150%
    }
    @media (max-width : 400px) {
       margin-top: 164%
    }
}



/* status bar filling */

.statusbar-1-filled{
    border-radius: 20px;
    background-color: rgb(219, 219, 219);
    width: 78%;
    height: 20px;
    animation: fill-bar 1s ease-in-out;
}




.statusbar-2-filled{
    border-radius: 20px;
    background-color: rgb(219, 219, 219);
    width: 40%;
    height: 20px;
    animation: fill-bar 1s ease-in-out;
}



.statusbar-3-filled{
    border-radius: 20px;
    background-color: rgb(219, 219, 219);
    width: 30%;
    height: 20px;
    animation: fill-bar 1s ease-in-out;
}


.statusbar-4-filled{
    border-radius: 20px;
    background-color: rgb(219, 219, 219);
    width: 20%;
    height: 20px;
    animation: fill-bar 1s ease-in-out;
}



.statusbar-5-filled{
    border-radius: 20px;
    background-color: rgb(219, 219, 219);
    width: 10%;
    height: 20px;
    animation: fill-bar 1s ease-in-out;
}

/* animation of filling bars */

@keyframes fill-bar {
    from {
        width: 0;
    }
    to {
        width: width;
    }
}
